extends ../layout
block header
  script(type='text/javascript', src='/content/js/worker_controller.js')

block content
  div(class="container", role="main")
    div(class="page-header")
      img(src="/content/css/imgs/logo.png")
    div(class="hk-bg box-login leftside-color-orange" ng-controller="WorkerRecoverPassword") 
      form(id="frecover" method="post" novalidate)
        div(class="hk-center")
          h5(class="orange") #{__('recover_password_title')}
        div(class="form-group")
          input(type="text", id="email" class="form-control bottom-border hk-check" hk-email-or-tel="required" hk-error-email-or-tel="#{__('err-worker-recover-password-email-or-tel')}" hk-required="required" hk-error-required="#{__('err-worker-recover-password-required')}" placeholder="#{__('recover_password_email_tel')}", required="required", name="email", hk-label="float")
        br
        div(class="form-group")
          button(type="button", id="hkrecover" class="btn btn-lg btn-primary" hk-ng-click="ngclick" hk-form="checked" hk-ref="frecover") #{__('recover_password_btn_recover')}
          button(type="hidden" id="ngclick" ng-click="recoverPassword()" style="display:none")
        p
          br         
          a(href="/staff" class="btn btn-lg btn-primary") #{__('recover_password_btn_login')}
        
