extends ../layout
block header
  script(type='text/javascript', src='/content/js/user_controller.js')

block content
  div(class="container", role="main")
    div(class="page-header")
      img(src="/content/css/imgs/logo.png")
    div(class="hk-bg box-login leftside-color-orange" ng-controller="UserRecoverPassword") 
      form(id="frecover" method="post" novalidate)
        div(class="hk-center")
          h5(class="orange") #{__('user_recover_password_title_page')}
        div(class="input-field  hk-center")
          input(type="hidden" id="tel" name="tel" value="#{user_tel}")
          input(type="hidden" id="code" name="code" value="#{user_code}")
          input( type="password" hk-min="8" class="form-control bottom-border hk-check " hk-required="required" hk-error-min="#{__('err-user-password-min-required')}" hk-error-required="#{__('err-user-password-required')}" id="login_password" placeholder="#{__('passConfirmInformation')}" required="required" hk-label="float" ng-model="user.login_password")
          div(class="hk-left orange hk-ex90 mt10 ml20") #{__('user_recover_password_pguide')}
        div(class="input-field  hk-center")
          input( type="password" class="form-control bottom-border hk-check" hk-confirm="required" hk-error-confirm="#{__('err-user-password-confirm-invalid')}" id="password_confirm" hk-ref="login_password" ng-model="user.confirm_password" placeholder="#{__('confirmPassword')}", required="required", hk-label="float")
        br
        div(class="form-group")
          button(type="button", id="hkrecover" class="btn btn-lg btn-primary" hk-ng-click="ngclick" hk-form="checked" hk-ref="frecover") #{__('recover_password_btn_change_password')}
          button(type="hidden" id="ngclick" ng-click="recoverChange()" style="display:none")
        p
          br
          a(href="/user" class="btn btn-lg btn-primary") #{__('recover_password_btn_login')}
        
