extends ../layout
block header
  script(type='text/javascript', src='/content/js/user_controller.js')
  link(rel='stylesheet', href='/content/css/step_bar_compiled.css')
block footer

block content
  div(class="page-header")
    img(src="/content/css/imgs/logo.png")
  div(class="hk-bg box-middle leftside-color-orange" ng-controller="UserController") 
    form(id="fregister" method="post" novalidate)
      div(id="step_bar_box")
        ol(class="step_bar")
          li(class="current") #{__('user_register_current_step')}
          li #{__('user_register_next_step')}
      div(class="hk-center")
        h5(class="hk-bold hk-ex120") #{__('user_register_lb_01')}
        br
      div(class="input-field  hk-center")
        input( type="tel"  class="form-control bottom-border hk-check" hk-required="required" hk-phone-number="required" hk-error-phone-number="#{__('err-user-phone-invalid')}" hk-error-required="#{__('err-user-phone-required')}" placeholder="#{__('telConfirmInformation')}" required="required" hk-label="float" ng-model="user.tel" id="tel")
        div(class="hk-left orange hk-ex90 mt10 ml20") #{__('user_register_lb_02')}
      div(class="input-field  hk-center")
        input( type="email" class="form-control bottom-border hk-check" hk-required="required" hk-email="required" hk-error-email="#{__('err-user-email-invalid')}" hk-error-required="#{__('err-user-email-required')}" placeholder="#{__('email')}" required="required" hk-label="float" ng-model="user.email_address" id="email_address")
        div(class="hk-left orange hk-ex90 mt10 ml20") #{__('user_register_lb_03')}
      div(class="input-field  hk-center")
        input( type="password" hk-min="8" class="form-control bottom-border hk-check " hk-required="required" hk-error-min="#{__('err-user-password-min-required')}" hk-error-required="#{__('err-user-password-required')}" id="login_password" placeholder="#{__('passConfirmInformation')}" required="required" hk-label="float" ng-model="user.login_password")
        div(class="hk-left orange hk-ex90 mt10 ml20") #{__('user_register_lb_04')}
      div(class="input-field  hk-center")
        input( type="password" class="form-control bottom-border hk-check" id="password_confirm" hk-ref="login_password" hk-confirm="required" hk-error-confirm="#{__('err-user-password-confirm-invalid')}"  ng-model="user.confirm_password" placeholder="#{__('confirmPassword')}", required="required", hk-label="float")
      div(class="input-field  hk-center")
        input( type="text" class="form-control bottom-border hk-check " hk-required="required" hk-error-required="#{__('err-user-company-code-required')}" placeholder="#{__('companyCode')}" required="required" hk-label="float" ng-model="user.company_auth_id" id="company_auth_id" )
        div(class="hk-left orange hk-ex90 mt10 ml20") #{__('user_register_lb_05')}
      div(class="input-field  hk-center")
        input( type="text" style="ime-mode:inactive" class="form-control bottom-border hk-check " hk-required="required" hk-error-required="#{__('err-user-employee-no-required')}" placeholder="#{__('employee-no')}" required="required" hk-label="float" ng-model="user.employee_no" id="employee_no" )
       

      div(class="input-field  hk-center")
        input( type="text" class="form-control bottom-border hk-harf-width hk-inline hk-check " hk-required="required" hk-error-required="#{__('err-user-last-name-required')}" placeholder="#{__('user_worker_surname')}" required="required" hk-label="inline" hk-float="left" hk-width="49%" ng-model="user.last_name" id="last_name")
        input( type="text" class="form-control bottom-border hk-harf-width hk-inline hk-check " hk-required="required" hk-error-required="#{__('err-user-firt-name-required')}" placeholder="#{__('user_worker_name')}" required="required" hk-label="inline" hk-float="right" hk-width="49%" ng-model="user.first_name" id="first_name")
      div(class="input-field  hk-center")
        input( type="text" class="form-control bottom-border hk-harf-width hk-inline hk-check" hk-required="required" hk-error-required="#{__('err-user-last-name-kana-required')}" placeholder="#{__('user_worker_name_say')}" required="required" hk-label="inline" hk-float="left" hk-width="49%" ng-model="user.last_name_kana" id="last_name_kana")
        input( type="text" class="form-control bottom-border hk-harf-width hk-inline hk-check " hk-required="required" hk-error-required="#{__('err-user-first-name-kana-required')}" placeholder="#{__('user_worker_name_mei')}" required="required" hk-label="inline" hk-float="right" hk-width="49%" ng-model="user.first_name_kana" id="first_name_kana")
      div(class = "input-field1 hk-center")
        input(type="checkbox" id="is_receive_notify" value="1")
        label.hk-ex80.label1(for='is_receive_notify') #{__('user_register_lb_06')}
        br
        label.hk-ex80.label1(for='is_receive_notify') #{__('user_register_lb_06_1')}
        br
        label.hk-ex80.label1(for='is_receive_notify') #{__('user_register_lb_06_2')}
      div(class="input-field  hk-center")
        div(class="hk-center")
          span( class="hk-ex80") #{__('user_register_lb_07')}
          br
          span( class="hk-ex80") #{__('user_register_lb_07_1')}
          br
          br
          div(class="terms hk-ex80")
            利用規約
            br
            br
            第1条 総則

            br
            １． ショコラ share of co life利用規約（以下「本規約」といいます。）は、株式会社インテリジェンス（以下「当社」といいます。）が提供する「ショコラ share of co life」（以下「本サービス」といいます。）の会員が遵守すべき事項及び会員と当社との関係を定めるものです。
            br
            ２． 本サービスの会員は、本規約の内容を理解した上でその内容を遵守することに同意して本サービスを利用するものとし、本サービスを利用した場合、当該会員は本規約を遵守することに同意したものとみなします。
            br
            第2条 定義

            br
            本規約の中で使用される以下の各用語は、それぞれ以下の意味を有するものとします。
            br
            「本サイト」：当社が運営するＷｅｂサイト「ショコラ share of co life」を指します。
            br
            「会員」：本サイトで所定の会員登録手続を行い、当社から登録の承諾を受けた者を指します。
            br
            「クライアント」：本サービスを通して業務を委託し、又は委託しようとする者を指します。
            br
            「スタッフ」：本サービスを通じて業務を引き受け、又は引き受けようとする者を指します。
            br
            「家事シェアサービス」：本サービスでマッチングしたクライアントに対して、スタッフが提供する掃除、洗濯などの家事を支援するサービスを指します。
            br
            「本取引」：本サービスを利用して行われるクライアントとスタッフとの間での家事シェアサービスに関する業務委託契約を指します。
            br
            「登録情報」：会員登録手続で入力・提供された一切の情報を指します。
            br
            「個人情報」：住所・氏名・電子メールアドレス等特定の個人を識別できる情報をいいます。
            br
            「秘密情報」：会員が本サービスを通じて当社又は他の会員から得た、住所、電話番号、家族構成等の個人情報を含む他の会員に関する一切の情報を指します。
            br
            「開示者」：本サービスを通じて、他の会員に自ら権限を有する秘密情報を提供した会員をいいます。なお、開示者から秘密情報の開示を受けた会員については「被開示者」といいます。
            br
            第3条 規約の変更

            br
            当社は、本規約の内容を随時変更することができるものとします。本規約を変更する場合、変更後の規約内容を本サイト上に1ヶ月間掲載することとし、1ヶ月が経過した時点において、当社に提供済みの情報につき削除を請求した会員を除く全ての会員が、変更後の規約に同意したものとみなします。
            br
            第4条 会員登録

            br
            １. 会員登録手続を行うことができるのは、その会員となる本人に限るものとし、代理人による会員登録は認められないものとします。
            br
            ２. 会員登録手続を行う者は、登録情報の入力にあたり、入力した情報は全て真実であることを保証するものとします。
            br
            ３. 全ての登録情報につき、その内容の正確性・真実性・最新性等一切について、会員自らが責任を負うものとします。
            br
            ４. 会員として登録できる者の資格・条件は以下の通りです。
            br
            （１） 満20歳以上であること。
            br
            （２） 電子メールアドレスを保有していること。
            br
            （３） 既に本サービスの会員となっていないこと。
            br
            （４） 本規約の全ての条項に同意すること。
            br
            （５） 過去、現在及び将来にわたって、暴力団等の反社会的勢力に所属せず、これらのものと関係を有しないこと。
            br
            （６）以下のいずれかに該当する者であること。
            br
            ・クライアント：当社と本サービスの利用に関する契約を締結している法人の従業員である者
            br
            ・スタッフ：当社の人材派遣サービスにて、当社と雇用契約を締結し、派遣スタッフとして派遣先にて就業経験のある者
            br
            ・当社が本サービスの利用を許可した者
            br
            ５. 当社は、会員登録手続を行った者が以下の各号に該当する場合、会員として登録することを承諾しない場合があります。又、承諾・登録後であっても、会員について以下の各号に該当する事実がbr
            判明した場合には、承諾・登録を取り消すことがあります。
            br
            （１） 会員登録の資格・条件を満たさない場合又は満たさなくなった場合。
            br
            （２） 入力された登録情報に虚偽の情報があることが判明した場合。
            br
            （３） 当社からの電子メールを受信できない場合。
            br
            （４） 本規約に違反する行為を行った場合。
            br
            （５） その他当社が当該会員の登録が不適切であると判断した場合。
            br
            ６. 登録情報及び本サービスの利用において当社が知り得た会員の情報については、別途定める「ショコラ share of co lifeにおける個人情報の取り扱いについて」に従って取り扱われるものとし、会員はこれに同意するものとします。
            br
            ７. 会員が退会を希望する場合には、所定の手続を行うこととします。但し、当該会員が以下に定める状況にある間は退会できないものとします。
            br
            （１） 自らがクライアント又はスタッフとなって成立した本取引の業務が終了していない場合。
            br
            （２） 自らがクライアント又はスタッフとなって成立した本取引の決済手続が完了していない場合。
            br
            第5条 本サービスの内容

            br
            １.本サービスは、取引の機会及び各種情報の提供を通じて、仕事をしたいスタッフと仕事を依頼したいクライアント間での家事シェアサービスの業務委託契約を行うためのツール及びプラットフォームの提供を行うサービスです。
            br
            ２. 本サービスは、クライアントとスタッフが直接業務委託契約を締結することを目的とするものであり、当社は本取引の当事者とはなりません。 但し、本取引に基づくクライアントからスタッフに対する報酬の支払事務は、第7条 に定めるところにより、当社がクライアントから委託を受けて代行します。
            br
            ３. 会員が本サービスを利用して契約を締結する場合、契約の形式は業務委託契約とし、スタッフが受託業務を行う際に、クライアントが業務内容及び遂行方法について具体的な指揮命令を行うことや、監督権限を行使することはできません。又、契約内容に含まれるか否かにかかわらず、そのような形でスタッフを扱うことはできないものとします。
            br
            ４. 家事シェアサービスの報酬（以下「報酬」といいます。）及び利用時間、提供開始時間、交通費等に関する事項は、本サイト内で定める通りとします。
            br
            ５．家事シェアサービスの提供範囲に関しては以下の通りとなります。
            br
            （１）スタッフは、クライアントに対して、所定の申込内容欄に記入された条件に従って家事シェアサービスを提供します。なお、対応可能なサービスの項目については、別途当社が本サイト内に定める通りとします。又クライントからの申込内容の条件のサービスが完了しなくても、利用時間が経過した時点で家事シェアサービスは完了したものとみなします。
            br
            （２）重量物の運搬、高所での作業などの危険を伴う作業、著しく汚れた又は非衛生的な場所での作業、高級衣料の洗濯、貴金属の手入れなどの専門的な技術を要する作業や、高齢者・障碍者の身体介護や乳幼児・児童の保育などの直接身体に触れる作業及び、その対象者の監視等、当社が提供するに不適当と認める作業につきましては、家事シェアサービスは提供できません。
            br
            ６．本サービスにより雇用契約の斡旋を行うものでありません。
            br
            ７. 本サービスにおいて、当社は、本取引を行うスタッフ若しくはクライアントの選定及び本取引に基づく業務の遂行やその結果について 、それらの内容・品質・信憑性・適法性・正確性・有用性等の確認及び保証を行わないとともに、その瑕疵等に関して一切の責任を負いません。
            br
            ８.本取引における業務が完了した場合、スタッフは、当社に対し、別途本サイト内で定める本サービス利用料（以下「システム利用料」といいます。）の支払い義務を負うものとします。なお、システム手数料は、報酬と対当額を相殺する方法で支払うものとします。
            br
            ９.クライアントは、別途本サイト内で定めるオプションサービスを利用した場合、別途本サイト内で定めるオプション利用料を支払うものとします。なお、支払いの時期及び方法については第7条の定めによるものとします。
            br
            １０. 会員間での連絡は、原則として本サイト内及び当社を介して行うものとします。但し、当社が事前に承諾した場合はこれに限りません。
            br
            １１. 会員又は過去5年以内に会員であった者は、会員又は過去5年以内に会員であった者と、本サービスを利用せずに、直接に本サービスを通じて委託可能な内容に関する業務委託契約を締結すること（これに類する契約を締結すること及び契約の有無にかかわらず実質的に業務を委託・受託することを含みます。）及びその勧誘をすることを行ってはならないものとします。但し、当社が事前に承諾した場合はこの限りではありません。
            br
            １２．本サービスの提供を受けるために必要な、コンピューター、ソフトウェアその他の機器、通信回線その他の通信環境等の準備及び維持は、会員の費用と責任において行うものとします。
            br
            第6条　本取引の成立

            br
            １. 本サービス内において、スタッフとクライアントの間で、業務内容・作業場所・日時等の契約内容が確定し、その内容に従って実施する意思が相互に確認された時点で、当事者間で業務委託契約が締結されるものとします。
            なお、クライアントは、本取引に基づくクライアントのスタッフに対する報酬の支払いについて、第7条に定めるところにより、当社がクライアントに代行して支払事務を行うことに同意するものとします。
            br
            ２. 前項の契約締結に際して、スタッフとクライアントの間で瑕疵担保責任の有無等の特段の取決めを行う必要がある場合は、当事者間で別途合意するものとし、当社はその合意の存否及び内容について関知せず、その結果生じた損害について一切の責任を負わないものとします。
            br
            ３. スタッフは、業務委託契約に従った業務の遂行義務を負います。
            br
            ４. クライアントは、業務の遂行に対して業務委託契約に従った報酬を支払う義務を負うものとします。
            br
            第7条　決済手続

            br
            １.本取引に関する金銭の支払いについては、クレジットカード決済が利用可能です。クレジットカード決済を利用する場合は、当社が指定する決済サービス以外の決済方法による決済は認められません。
            br
            ２.本取引の報酬の支払時期及び方法については、第3項及び第4項に定める通りとします。なお、クライアントのスタッフに対する報酬の支払事務については、クライアントから委託を受けた当社が代行します。
            br
            ３.クライアントは、家事シェアサービスの依頼に際して、業務委託契約締結後、当該契約による業務開始前に、当社に対して、スタッフへの報酬額と同額の支払い（以下「仮払い」といいます。）をするものとします。当社で仮払い実行の確認が出来ない場合は、本サービスの提供は終了とさせていただきます。
            br
            ４.当社はスタッフの報酬を、毎月末日締めで翌月20日までにスタッフの指定する振込み先口座に支払うものといます。スタッフが指定できる振込み先口座は、当社指定の銀行、ゆうちょ銀行、信用金庫、労働金庫、信用農業協同組合連合会、信用漁業協同組合連合会、農業協同組合のいずれかの日本国内の口座とします。なお、会員が指定した口座情報に不備があり振込みができない場合、組戻しにかかる手数料は会員が負担するものとし、口座情報の不備が解消されるまで、当社は払い戻しを行わないものとします。なお、スタッフに対する報酬の振込手数料については、当社が負担するものとします。
            br
            ５. クライアントとスタッフとの間で本取引に関する報酬を直接授受することを禁止します。なお、直接の報酬の授受の有無にかかわらず、クライアントは当社に第3項所定の仮払いを行う義務があるものとします。
            br
            ６．クライアントが業務委託契約を締結しているサービスの変更及びキャンセルを行う場合の取扱いは、別途本サイト内に記載しているキャンセルポリシーに従うものとします。
            br
            ７．スタッフは、業務委託契約を締結しているサービス提供日の2日前までは、業務委託契約をキャンセルすることができます。なお、サービス提供日の2日前を越えての業務委託契約のキャンセルをした場合、又は、サービス提供日の2日前までのキャンセルをすることなくサービスを提供しなかった場合、それらの履歴情報を本サイト内で掲示することがあります。
            br
            ８. 以下の各号に掲げる場合には、前各項の規定にかかわらず、当社は、当該本取引の報酬の支払い代行事務を終了し、仮払いされた報酬をクライアントに全額返金することができるものとします。なお、返金の際の振込手数料はクライアントの負担とします。
            br
            （１） 本取引の当事者から提供された情報等をもとに、当社がクライアント及びスタッフの双方に確認し、債務の本旨にしたがった履行が行われたか否かの点について、当事者間の認識に争いがあることが認められた場合
            br
            （２） 本取引成立後、本取引のいずれかの当事者又は当社が、他方当事者に対し、本サービスにおける通常の連絡手段を用いて連絡をしたにもかかわらず、１週間以上連絡がとれない状態が継続した場合
            br
            （３） その他当社が仮払い金を留保することが不適当であると当社が判断した場合
            br
            ９. 本条に基づいて、支払い又は返金を行って以後、当事者間の報酬等の支払いに関して、当社は一切責任を負わないものとします。なお、前項に基づき、当社が支払い代行事務を終了し、仮払い金をクライアントに返金した場合、本条第5項の適用を除外します。
            br
            第8条 　著作権及び提供された情報の利用

            br
            １. 本サイトに掲載されているすべてのコンテンツ（写真、イラスト等を含みます。）を含め、本サービスに関して当社が作成・提供するすべてのコンテンツの著作権は、権利者たる第三者から提供された物を除いて、当社に帰属します。
            br
            ２. 当社は、本サービスにおいて提供された情報（個人情報を除く）及びそれを基に当社が作成したすべてのコンテンツを、当社が編集、発行、発売等を行うものに二次利用できるものとします。なお、二次利用において生じた著作物に関する著作権は、当社に帰属します。
            br
            ３. 当社は、会員の登録・抹消の前後を問わず、本サービス上で会員が登録した会員の個人情報、本サービスの利用履歴（ページビュー、会員間のメッセージの送受信、本サービスを通じた家事シェアサービスの過程、結果等を含みますが、これらに限られません。）を、個人を特定又は特定しないで解析した後、個人を識別・特定できないように加工、集計及び分析した統計データ、属性情報等を作成し、これらを何らの制限なく利用することができるものとし、会員はこれをあらかじめ承諾します。
            br
            ４. 当社は、本サービスを通じた本取引に関して、クライアント又はスタッフから、他方当事者に関する家事シェアサービスの実施状況等について報告を受けることができるものとし、会員はこれをあらかじめ承諾します。
            br
            第9条 　ID・パスワードの管理

            br
            １. 会員は、当社が発行・付与したID及びパスワードについて、自己の責任の下で適切に管理し、ID及びパスワードの盗用を防止する措置を自ら講じるものとします。
            br
            ２. 会員は、当社が発行・付与したID及びパスワードについて、第三者による利用や第三者への貸与・譲渡等の行為を行ってはならないものとします。
            br
            ３. ID及びパスワードの管理不十分、使用上の過誤、第三者の使用等により被った損害は会員が責任を負うものとし、当社はかかる会員の損害から一切免責されるものとします。
            br
            ４. 会員は、ID及びパスワードの盗用や第三者による使用が判明した場合、直ちにその旨を当社に通知し、当社の指示に従うものとします。
            br
            第10条 　秘密情報の取り扱い

            br
            １. 会員は、本サービスを通じて当社又は他の会員から開示された情報については、秘密として保持し、事前に当社又は当該会員の書面による承諾を得ることなく、第三者への開示又は漏洩をしてはならず、又、本サービスの利用及び本サービスに基づき成立した業務委託契約の履行の目的以外で使用してはならないものとします。
            br
            ２. 次の各号に定める情報は、秘密情報から除外します。
            br
            （１） 開示者から開示を受ける前に、被開示者が正当に保有していたことを証明できる情報。
            br
            （２） 開示者から開示を受ける前に、公知となっていた情報。
            br
            （３） 開示者から開示を受けた後に、被開示者の責に帰すべからざる事由により公知となった情報。
            br
            （４） 被開示者が、正当な権限を有する第三者から秘密保持義務を負うことなく正当に入手した情報。
            br
            （５） 被開示者が、開示された情報によらず独自に開発した情報。
            br
            ３. 会員が本条第1項の規定に違反したことにより他の会員その他の第三者との間で紛争が生じたとしても、当社は一切の責任を負わないものとし、会員の責任と費用でこれを解決するものとします。
            br
            第11条 　地位等の譲渡禁止

            br
            会員は、本規約に基づく権利、義務及び本規約の契約上の地位の全部又は一部について、これを第三者に譲渡、質入れ、その他の方法により処分してはならないものとします。但し、当社の書面による事前の承諾がある場合を除きます。
            br
            第12条 　禁止事項

            br
            会員が以下に定める行為を行うことを禁止します。
            br
            （１） 当社、他の会員若しくは第三者の著作権、商標権等の知的財産権を侵害する行為、又は侵害するおそれのある行為。
            br
            （２） 他の会員若しくは第三者の財産、プライバシー若しくは肖像権等を侵害する行為、又は侵害するおそれのある行為。
            br
            （３） 特定個人の氏名・住所・電話番号・メールアドレスなど個人を特定できる情報を第三者に開示・提供する行為。
            br
            （４） 一人の会員が複数のメールアドレス等を登録して重複して会員登録を行う行為。
            br
            （５） 虚偽又は不正確な情報、自己に関する情報ではない情報を登録・提供する行為。
            br
            （６） 他の会員若しくは第三者を差別若しくは誹謗中傷し、又は他者の名誉若しくは信用を毀損する行為。
            br
            （７） アクセス可能な本サービス又は他者の情報を改ざん、消去する行為。
            br
            （８） 当社又は他者になりすます行為（詐称するためにメールヘッダ等の部分に細工を行う行為を含みます。）。
            br
            （９） 有害なコンピュータプログラム等を送信し、又は他者が受信可能な状態におく行為。
            br
            （１０） 他者に対し、無断で、広告・宣伝・勧誘等の電子メール又はメッセージ（以下「電子メール等」といいます。）若しくは嫌悪感を抱くおそれのある電子メール等を送信する行為。他者の電子メール等の受信を妨害する行為。連鎖的な電子メール等の転送を依頼する行為及び当該依頼に応じて転送する行為。
            br
            （１１） 他者の設備若しくは本サービス用設備（当社が本サービスを提供するために用意する通信設備、電子計算機、その他の機器及びソフトウェアをいいます。）に無権限でアクセスし、又はポートスキャン、DOS攻撃若しくは大量のメール送信等により、その利用若しくは運営に支障を与える行為、又は支障を与えるおそれのある行為。
            br
            （12） サーバ等のアクセス制御機能を解除又は回避するための情報、機器、ソフトウェア等を流通させる行為。
            br
            （13） 本人の同意を得ることなく、又は詐欺的な手段（いわゆるフィッシング及びこれに類する手段を含みます。）により他者の会員登録情報を取得する行為。
            br
            （14） 当社が事前に書面をもって承認した場合を除く、本サービスに基づく業務委託以外を目的とした本サービスを利用した営業・勧誘行為。本サービスに基づく業務委託以外の営業・勧誘を目的とした本サービスの利用、又はその準備を目的とした本サービスの利用 。
            br
            （15） 法令に基づき監督官庁等への届出、許認可の取得等の手続が義務づけられている場合に、当該手続を履行せずに本サービスを利用する行為。その他当該法令に違反する、又は違反するおそれのある行為。
            br
            （16） 本サービスの運営を妨害する行為。他の会員又は第三者による情報の交換又は共有を妨害する行為。信用の毀損又は財産権の侵害等、当社、他の会員又は第三者に不利益を与える行為。
            br
            （17） 長時間の架電、同様の問い合わせの繰り返しを過度に行い、又は義務や理由のないことを強要する等して、当社の業務に著しく支障を来たす行為。
            br
            （18） 上記各号の他、法令、又は本規約に違反する行為。公序良俗に違反する行為。その他迷惑行為。
            br
            （19） 上記各号のいずれかに該当する行為（当該行為を他者が行っている場合を含みます。）を助長する行為。
            br
            （20） その他当社が会員として不適当と判断する行為。
            br
            第13条 　規約違反への対処及び違約金等

            br
            １. 当社は、会員の行為が本規約に反すると判断した場合に、当社の判断により、当該会員に何ら通知することなくして、本サービスの一時停止、会員登録の解除、本サービスへのアクセスの拒否、本サイト上における掲載情報の全部若しくは一部の削除・変更又は公開範囲の制限等の必要な措置をとることができるものとします。
            br
            ２. 前項に基づく当社の対処に関する質問、苦情は一切受け付けておりません。なお、会員は、当該措置によって被った一切の損害について、当社に対して賠償請求を行わないものとします。
            br
            ３. 当社は、会員が本規約違反等の悪質な行為を行っていると判断した場合、当該会員に対して法的措置を検討するものとします。
            br
            ４. 会員は、自らが本規約違反等の行為を行ったことにより当社に損害（第三者に損害が生じ、その損害について当社が填補した場合を含む）が生じた場合、その一切の損害について、当社に対して賠償する責任を負うものとします。
            br
            ５. 会員は、自らが第5条第10項又は第7条第5項に違反した場合、違約金として、金10万円を当社に支払うものとします。
            br
            第14条 　当社からの連絡又は通知

            br
            １. 当社が会員への連絡又は通知の必要がある場合には、登録されたメールアドレス宛にメールするか、本サイトでの通知、電話、登録された住所宛に訪問及び郵送することによって、連絡又は通知を行います。
            br
            ２. 会員は、原則としてメール又はお問い合わせフォーム、電話による連絡により当社への連絡を行うものとします。来訪は受け付けておりません。
            br
            第15条 　サービスの中断・終了

            br
            １. 当社は、システム障害及び保守、停電や火災などの天変地異、その他技術上・運営上の理由により、本サービスの提供が困難であると判断した場合、会員への事前通知を行わず、本サービスの中断を行う場合があります。
            br
            ２. 当社は2週間前までに、会員に電子メールでの通知及び本サイト上で告知を行うことにより、本サービスを終了することができるものとします。
            br
            ３. 当社は、本条に基づき当社が行った措置に基づき会員に生じた損害について一切の責任を負いません。
            br
            第16条 　免責
            br

            １. 会員が、本サービスを利用することにより、他の会員又は第三者に対し不利益・損害を与えた場合、会員は自己の費用と責任においてこれを解決するものとし、これらの不利益・損害について当社は一切の責任を負いません。
            br
            ２. 当社は、本サービス上で行われるクライアントとスタッフとの間の取引を管理するものではなく、取引によって生じた一切の不利益・損害について一切の責任を負いません。
            br
            ３. 本サービス上でやりとりされるメッセージや送受信されるファイルに個人情報等が含まれていた場合、それによって会員が被った不利益・損害について、当社は一切の責任を負いません。
            br
            ４. 当社は、会員の身元の保証をするものではなく、又、クライアント又はスタッフが本サービス上で取引を完了することを保証するものでもありません。
            br
            第17条　本サービスの譲渡等

            br
            当社は、本サービスの事業を第三者に譲渡した場合、当該事業譲渡に伴い、本サービスの運営者たる地位、本規約上の地位、本規約に基づく権利及び義務並びに会員の登録情報及びその他情報を当該事業譲渡の譲受人に譲渡することができるものとし、本サービスの会員は、会員たる地位、本規約上の地位、本規約に基づく権利及び義務並びに会員の登録情報その他情報の譲渡につきあらかじめ同意するものとします。
            br
            第18条 　基準時間

            br
            本サービスの提供にあたって基準となる時刻は、全て当社のサーバ内で管理されている時刻によるものとします。
            br
            第19条 　準拠法・管轄裁判所

            br
            １. 本規約は日本法に基づき解釈されるものとし、本規約の一部が無効な場合でも、適用可能な項目については効力があるものとします。
            br
            ２. 本サービスに関連して訴訟等の必要が生じた場合には、東京地方裁判所を第一審の専属的合意管轄裁判所とします。

            br
            施行：2015年7月1日　初版


            br
            br
            ショコラ share of co lifeにおける個人情報の利用について
            br

            本規定は、当社における個人情報の取扱いを定めるものです。
            br
            「ショコラ share of co life」（以下総称して「本サービス」といいます。）のご利用に際して当社に個人情報を提供された場合には、本規定にご同意いただいたものとみなしますので、本サービスをご利用の前に必ずご一読ください。
            br
            第1条（個人情報とは）

            br
            個人情報とは、利用者個人に関する情報であって、当該情報に含まれる氏名、生年月日、住所、電話番号その他の記述および資料（映像・画像・音声等）によって当該個人を識別できるもの、また、当該情報のみでは識別できないが、他の情報と容易に照合することにより、当該個人を識別できるものをいいます。
            br
            第2条（利用目的）

            br
            当社は、利用者より収集した個人情報（以下総称して「個人情報」といいます。）を、利用者本人の同意がある場合を除き、以下に定める利用目的の範囲内でのみ収集・利用します。

            br
            １. 本サービスを提供するため
            br
            ２. 本サービスを安心・安全にご利用頂ける環境整備のため
            br
            ３. 本サービスの運営・管理のため
            br
            ４. 本サービスに付随する各種サービスの提供
            br
            ５. 本サービスに付随する各種メールマガジンおよび情報提供のためのメール配信
            br
            ６. 利用者のサービスの利用状況および利用結果等の聴取
            br
            ７. 本サービスの品質向上を目的とするご意見、ご要望等の聴取
            br
            ８. 家事シェアサービスに関する業務委託契約締結のため
            br
            ９. 当社のウェブサイトの利便性向上および本サービス品質向上のためマーケティング活動等
            br
            １０．その他当社と利用者の間で同意した目的のため
            br
            １１. 上記1から10項に付随する目的のため上記の他、希望された方には下記目的にてメールを配信させて頂きます。
            br
            １２. 当社が提供する各種サービス、アンケート、およびキャンペーン等のご案内のため
            br
            なお、電話による利用者からのお問い合わせや当社からのご連絡等の際、内容の正確な記録、内容の再確認および電話応対の品質向上への活用のために、通話内容を録音させて頂く場合があります。
            br
            第3条（第三者提供）

            br
            １. 取得した個人情報は、「第2条（利用目的）」8項で定める利用目的の範囲内で、以下のとおり提供します。
            br
            ・提供先：本取引が成立したクライアント又はスタッフ
            br
            ・提供する目的：本取引に関する業務委託契約の締結、及び委託契約に基づく業務遂行のため
            br
            ・提供する個人情報の項目：氏名、連絡先、住所、家族構成、間取り、ペット有無
            br
            ・提供の手段または方法：暗号化等によって秘匿化したウェブシステム経由または電子メール、手交、電話、郵送 とする。
            br
            ２. 上記の他、取得した個人情報は以下の場合を除き、本人の同意なく第三者へ提供する事はありません。
            br
            （1） 個人情報保護法、その他の法令に基づく場合
            br
            （2） 利用者本人より、第三者への開示または提供につき明示の意思表示がある場合
            br
            （3） 公的機関等またはそれらの委託を受けた者より、開示請求を受領した場合。
            br
            （4） 生命や財産に危機が生じ、緊急に開示する必要があり、当該会員の同意を得るのが困難な場合。
            br
            （5） 第三者に対し、本サイトの運営に必要な業務の一部もしくは一切を委託する場合またはビジネスの移管を行う場合。
            br
            第4条（第三者提供に関する免責事項）
            br

            br
            １. 当社は、以下各号に定める場合において、第三者による個人情報の取得に関し、何ら責任を負いません。
            br
            （1） 利用者自らが、本サービスを利用して依頼者等に個人情報を開示、提供する場合
            br
            （2） 利用者の活動状況等、本サービスにおいて利用者が提供した情報により、偶然本人が特定された場合
            br
            （3） 本サービスからリンクされる外部サイトにおいて、利用者が個人情報を提供し、これが利用された場合
            br
            （4） 当社の責に帰すべき事由によらずに、利用者以外の者が利用者に付与されたID・パスワード等を入手した場合
            br
            ２. 当社は、利用者と依頼者の間の提供情報に関するトラブル等につき一切責任を負いません。
            br
            第5条（個人情報処理の外部委託）

            br
            １. 当社は、個人情報取扱業務の全部または一部を、外部に委託する場合があります。
            br
            ２. 個人情報取扱業務を外部に委託する場合、当社の責任において、個人情報保護水準を満たしている者を選定し、委託先との間で個人情報の適切な取扱いを遵守させるものとします。
            br
            第6条（個人情報の正確性）

            br
            利用者より開示、提供された個人情報の内容が、最新かつ正確であることについては、利用者自らが責任を負うものとします。
            br
            第7条（個人情報および提供情報の開示・訂正・削除等）

            br
            １. 当社は、利用者から、自己の個人情報について、利用目的の通知、開示、訂正・追加または削除、利用の停止・消去または第三者への提供の停止（以下「開示等」といいます。）を求められた場合には、適切にこれに対応いたします。末尾に定めるお問い合わせ連絡先までお問い合わせください。
            br
            ２. 当社は、前項にかかわらず、本サービスの適正な実施に支障を及ぼすおそれがある場合等は、開示等の依頼に応じない場合があります。ただし、法令により、利用者に開示等を請求する権利が認められる場合は、この限りではありません。
            br
            第8条（統計データ等の利用）

            br
            当社は、利用者の個人情報以外の情報および本サービスの利用状況を、当社または第三者のウェブサイト、および当社または第三者が編集、発行、もしくは発売する各種媒体等に転載することがあります。
            br
            第9条（本人が容易に認識できない方法による個人情報の取得）

            br
            当社は、利用者のプライバシー保護、利便性の向上および統計データ取得のため、Cookieの使用、ウェブサイト上の行動履歴の取得をしています。
            br
            第10条（利用目的の変更）

            br
            当社は、本規定の内容を随時見直し、法令等の定めがある場合を除き必要に応じていつでも変更できるものとします。変更後の規定については、当社が運営する本サイト上に1ヶ月間表示し、同期間が経過した時点において、同期間内に当社に対して自己の個人情報の削除を請求した利用者を除く全ての利用者が、変更後の利用目的につき同意したものとみなします。
            br
            第13条（個人情報提供の任意性と提供しなかった場合に生じる結果について）
            br
            個人情報の提供は任意となっておりますが、当社が求める個人情報をご提供いただけない場合、また記載不備があった場合は、その後の連絡等に影響することがあり得ます。
            br
            第14条（個人情報保護管理者）
            br
            株式会社インテリジェンス　派遣ディビジョン管掌役員
            br
            第15条（個人情報に関するお問い合わせ先）
            br
            br
            株式会社インテリジェンス　派遣ディビジョン　
            br
            　　TEL：03-6386-0265
            br
            　　MAIL：support-shocola@inte.co.jp

          br
        span(class="hk-ex80") #{__('user_register_lb_08')}
        br 
        br
        button( type="button" class="btn btn-lg btn-primary" id="hkregister" hk-ng-click="ngclick" hk-form="checked" hk-ref="fregister") #{__('user_register_btn_register')}
        button(type="hidden" id="ngclick" ng-click="register()" style="display:none")
        br
        br
        p(class="hk-ex80") 
          |#{__('user_register_lb_09')}
          br
          |#{__('user_register_lb_09_1')}
        br
        p
          a(href="/user") #{__('user_register_url_user')}
